//Login section
.login {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(13, 15, 18, 1) 56%
  );
  padding: 5em 0;
  height: 100%;

  &__content {
    text-align: center;
  }

  &__text {
    @media (max-width: 765px) {
      font-size: 1.5rem;
    }

    font-family: "Calligraffitti", cursive;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.5px;
    text-shadow: 1px 3px #000;
  }

  &__form {
    padding-top: 50px;
  }

  &__textfeild {
    @media (max-width: 375px) {
      width: 100%;
    }

    @media (max-width: 500px) {
      width: 90%;
    }

    @media (max-width: 992px) {
      width: 50%;
    }

    width: 35%;
    margin: 0 auto;
  }

  &__reset {
    margin: 1rem 0 !important;
  }

  &__reset-text {
    margin: 1em 0 !important;
  }

  &__link {
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }

    font-size: 1rem;
    color: #fff;
    font-weight: 500;
  }

  &__link:hover {
    color: #68e1fd;
  }
}
