.profile {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(13, 15, 18, 1) 56%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  .card {
    @media (max-width: 991px) {
      width: 50vw;
    }

    @media (max-width: 500px) {
      width: 70vw;
    }

    background-color: #000 !important;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: 70vh;
    box-shadow: 5px 5px 20px;
    padding: 2em;
    border-radius: 25px;

    &__icon {
      color: $color-white;
      width: 150px;
      height: 150px;
      font-size: 7em;
      text-align: center;
    }

    &__text {
      text-align: center;
      padding-top: 1em;
      border-top: 3px solid $color-white;
      margin-top: 1em;
    }

    &__name {
      font-weight: 600;
      font-family: $font-secondary;
      color: $color-white;
    }

    &__email {
      color: $color-white;
      margin-top: 1rem !important;
    }

    &__password {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      margin-top: 5rem !important;
    }
  }
}
