.black__button {
  font-family: $font-primary;
  letter-spacing: 1px;
  margin-right: 1rem;
  color: $color-black !important;
  padding: 0.5rem 2rem !important;
  background-color: $color-white;
  transition: 0.3s transform;
  transform: scale(0.95);

  @media (max-width: 992px) {
    margin-top: 1rem;
    margin-right: 0;
  }

  &:hover {
    transform: scale(1);
    opacity: 0.8;
    color: $color-white !important;
    border: 1px solid $color-white !important;
    background-color: $color-black !important;
  }
}
