// COLORS
$primary: #000046;
$color-primary: #000046;
$color-secondary: #1cb5e0;
$color-white: #fff;
$color-black: #000;
$color-gold: rgba(255, 210, 0, 0.5);

// FONTS
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Montserrat", sans-serif;
