{% load static%}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="creator" content="Xieyuan_Andy Huang">
    <meta name="title" content="Data Science, Machine Learning and Data Visulisation">
    <meta name="description" content="This page is about introducing data science and
          6 related area">
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href=" {% static 'CSS/CSS_home.css'  %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify">
        <a class="navbar-brand" href="Index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="MachineLearning.html">Machine Learning<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="DataVisualisation.html">Data Visualisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="WorldMap.html">World Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ContactAbout.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>



    <!--First background image-->
    <div class="first_bg">
        <div class="container, first_content">
            <div class="row" style="background: rgba(0, 0, 0, 0.7);">
                <div class="col-md-12 col-sm-12" style="padding:0px  !important;">
                    <div>
                        <div class="intro">Data Science </div><br />
                        <div class="sub">
                            Data Scientist: The Sexiest Job of the 21st Century. Thomas H. Davenport and D.J. Patil, 2012.
                        </div>

                    </div>






                </div>

            </div>
        </div>





    </div>


    <!--6 pictures-->
    <div class="container-fluid, pics">
        <div class="row">




            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important; margin-bottom:-20px;">
                <figure>
                    <img src="Images/AI.jpeg" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head"> Artificial Intelligence(AI)</p>
                        <p class="text"> In computer science, artificial intelligence, sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans. </p>

                        <br><a href="https://towardsdatascience.com/role-of-data-science-in-artificial-intelligence-950efedd2579" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>
            </div>
            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important; margin-bottom:-20px;">
                <figure>
                    <img src="Images/Stats.jpg" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head">Statistics</p>
                        <p class="text">
                            Statistics is the discipline that concerns the collection, organization, displaying, analysis, interpretation and presentation of data.
                        </p>
                        <br><a href="https://elitedatascience.com/learn-statistics-for-data-science" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>
            </div>
            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important; margin-bottom:-20px;">
                <figure>
                    <img src="Images/MachineLearning.jpeg" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head">  Machine Learning</p>

                        <p class="text"> Machine learning is the scientific study of algorithms and statistical models that computer systems use to perform a specific task without using explicit instructions, relying on patterns and inference instead. It is seen as a subset of artificial intelligence. </p>
                        <br><a href="https://www.edx.org/course/machine-learning-data-science-analytics-1" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>
            </div>
            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important; margin-bottom:-20px;">
                <figure>
                    <img src="Images/PL.jpeg" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head">  Programming Languages </p>

                        <p class="text"> A programming language is a vocabulary and set of grammatical rules for instructing a computer or computing device to perform specific tasks.</p>
                        <br><a href="https://medium.com/datadriveninvestor/top-6-data-science-programming-languages-for-2019-39ba1b6819a8" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>
            </div>
            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important;margin-bottom:-20px;">
                <figure>
                    <img src="Images/DA.jpg" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head">Data Analysis </p>
                        <p class="text">Data analysis is the process of evaluating data using analytical and statistical tools to discover useful information and aid in business decision making. </p>



                        <br><a href="https://towardsdatascience.com/tagged/data-analysis" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>
            </div>
            <div class="col-md-4 col-sm-6" style="padding:0px 0px 0px 0px !important;margin-bottom:-20px;">
                <figure>
                    <img src="Images/DataVis.png" class="img-responsive fit-image" />
                    <figcaption>
                        <p class="head">  Data Visualisation</p>
                        <p class="text"> Data visualization is the graphical representation of information and data. </p>
                        <br><a href="https://towardsdatascience.com/data-visualization/home" target="_blank"> <button type="button" class="btn btn-outline-secondary bt1">Read more</button></a>
                    </figcaption>

                </figure>

            </div>


        </div>
    </div>


    <div class="second_bg">
    </div>



    <!--video-->
    <div class="container-fluid second_content">
        <div class="row">
            <div class="col-md-6 col-sm-12" style="padding:0px  !important;">

                <iframe class="fit-image" src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



            </div>
            <div class="col-md-6 col-sm-12" style="padding:0px  !important;">

                <iframe class="fit-image" src="https://www.youtube.com/embed/0jQ25PSyb_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




            </div>

        </div>
    </div>
    <!-- Footer -->
    <footer>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2019 Copyright:
            Xieyuan Huang
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->



</body>
</html>